.list {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.card {
  padding: 16px;
  display: grid;
  align-items: flex-start;
  row-gap: 16px;
  border-radius: 8px;
  background-color: var(--secondary);
}

.card svg {
  width: 20px;
  height: 20px;
}

.card section span {
  color: gray;
  font-size: small;
}

.card button {
  display: flex;
}

.name {
  color: var(--text);
  outline: none;
  font-size: large;
  font-weight: bold;
}

.password {
  display: flex;
  justify-content: space-between;
}

.edit .password {
  border: 1px solid var(--border);
  margin-top: 6px;
  border-radius: 6px;
}

.password input {
  color: var(--text);
  max-width: 120px;
  border: none;
  outline: none;
  padding-left: 4px;
  background-color: transparent;
}

.password p {
  padding: 4px 10px;
}

.edit .password input {
  color: white;
  border: none;
  display: flex;
  font-size: 14px;
  padding-left: 6px;
  background-color: var(--primary);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.password button {
  border-left: 1px solid transparent;
}

.edit .password button {
  border-left-color: var(--border);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buttons {
  display: grid;
  column-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}

.buttons button {
  justify-content: center;
}

.edit .editBtn {
  background-color: var(--primary);
}

.deleteBtn {
  background-color: #ef4444;
}

.deleteBtn:hover {
  background-color: #f87171;
}

.copied {
  color: #22c55e;
}
